:host {
  display: block;
  height: 100vh; 
  color: white;
}

.status-container {
  margin-top: 100px;
  text-align: center;
  padding: 20px;
  background-size: cover;
  background-position: center;
}

.status-message {
  font-size: 24px;
  margin-bottom: 20px;
}

.status-gif {
  max-width: 100%;
  height: auto;
}